*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*All page */ 

.allPage{
    background: linear-gradient(rgba(10, 212, 43, 0.842), #152c91);
    height: 100vh;
}

/*Playground */ 


.playground{
    width: 80%;
    height: 80%;
    background-color: #d1cc4d;
    position: absolute;
    top: 10%;
    left: 10%;
    border-radius: 10px;
}

/*Total score */

.totalScore{
    font-size: 30px;
    color: #471f1e;
    font-weight: bolt;
}

.totalScore p:nth-of-type(2){
    font-size: 40px;
    text-align: center;
}

.totalScore0{
    position: absolute;
    top: 15%;
    left: 10%;

}

.totalScore1{
    position: absolute;
    top: 17%;
    left: 73%;

}

/*Current score */
.currentScore{
    width: 150px;
    height: 150px;
    background-color: #b35e4b;
}

.currentScore p{
    font-size: 20px;
    color: #fff;
    text-align: center;
    scroll-padding-top: 20px;
}

.currentScore :nth-child(2){
    font-size: 40px;
}

.currentScore0{
    position: absolute;
    top: 40%;
    left: 11%;

}

.currentScore1{
    position: absolute;
    top: 40%;
    right: 16%;


}

/*Middle Text*/

.middleText{
    position: absolute;
    top: 70%;
    left: 42%;
    text-align: center;
    font-size: 25px;
    color: #000;
}

.btn{
    border: 2px solid purple;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #ad054b;
}

.btn:hover {
    border: 3px solid orangered;
    background-color: orange;
}

/*Dice*/

.dice{
    position: absolute;
    top: 30%;
    left: 43%;
}

/*Active player*/

.active{
    color: #fff;
    border: 2 solid #ad054b;
    padding: 5px 10px;
    border-radius: 12px;
    background: #ad054b;
}